# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Ambiente local
.env
*.pem
*.key
